:root {
    --clr-neutral-300: hsl(205,29%,28%);
    --clr-neutral-400: hsl(205,29%,20%);
    --clr-neutral-900: hsl(205,85%,8%);

    --clr-primary-400: hsl(170,98%,51%);
    --clr-secondary-400: hsl(339,88%,60%);

    --clr-accent-400: hsl(253,52%,14%);

    --clr-neutral-faded-800: hsla(205, 85%, 8%, 0.78);
    --clr-neutral-faded-900: hsla(205, 85%, 8%, 0.882);

    --clr-shadow: hsl(230, 38%, 38%);

    --bg-radial-gradient: radial-gradient(
        circle,
        var(--clr-neutral-faded-800),
        var(--clr-neutral-faded-900)
    );

    --ff-primary: monospace;
    --ff-secondary: monospace;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-75: 0.75rem;
    --fs-85: 0.85rem;
    --fs-100: 1rem;
    --fs-110: 1.1rem;
    --fs-135: 1.35rem;
    --fs-150: 1.5rem;
    --fs-200: 2rem;
    --fs-225: 2.25rem;
    --fs-250: 2.5rem;
    --fs-300: 3rem;
    --fs-350: 3.5rem;
    --fs-400: 4rem;
    --fs-500: 5rem;
    --fs-550: 5.5rem;
    --fs-600: 6rem;

    --fs-title: clamp(var(--fs-200), 2vw, var(--fs-225));
    --fs-body: clamp(var(--fs-85), 1.1vw, var(--fs-135));
    --fs-statement: clamp(var(--fs-350), 4.75vw, var(--fs-550));
    --fs-quest-message: clamp(var(--fs-150), 2.5vw, var(--fs-300));
    --fs-countdown: clamp(var(--fs-400), 5vw, var(--fs-600));
    --fs-answer-item: clamp(var(--fs-100), 1.1vw, var(--fs-135));
    --fs-footer: clamp(var(--fs-75), 1.1vw, var(--fs-110));

    --size-25: 0.25rem;
    --size-35: 0.35rem;
    --size-50: 0.5rem;
    --size-75: 0.75rem;
    --size-100: 1rem;
    --size-110: 1.1rem;
    --size-150: 1.5rem;
    --size-200: 2rem;
    --size-250: 2.5rem;
    --size-275: 2.75rem;
    --size-350: 3.5rem;
    --size-400: 4rem;
    --size-600: 8.45rem;
    --size-700: 15rem;
    --size-800: 20rem;
    --size-900: 28rem;
}

/* CSS RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
    color: inherit;
    text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
    color: inherit;
    border: none;
    outline: transparent;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GENERAL STYLING */

body {
    display: flex;
    flex-direction: column;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);
    background: var(--bg-radial-gradient);
}

header {
    text-align: center;
    background-color: var(--clr-neutral-900);
    font-size: var(--fs-title);
    padding: clamp(var(--size-75), 0.75vw, var(--size-100));
}

main {
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.main-section {
    --max-width: 40rem;
    --inline-gap: 1rem;

    --border-radius-large: var(--size-50);
    --border-radius-medium: var(--size-35);
    --border-radius-small: var(--size-25);
    --elements-gap: var(--size-75);

    width: min(var(--max-width), calc(100% - var(--inline-gap) * 2));
    background-color: var(--clr-neutral-900);
    padding: clamp(var(--size-100), 1vw, var(--size-150));
    border-radius: var(--border-radius-large);
}

.indicators {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
        'time-remaining score'
        'answer-correctness answer-correctness'
    ;
    gap: var(--elements-gap);
    place-items: center;
}

.indicators__time-remaining, .indicators__score, .indicators__answer-correctness div {
    padding: clamp(var(--size-35), 1vw, var(--size-75));
    border-radius: var(--border-radius-small);
}

.indicators__time-remaining {
    grid-area: time-remaining;
    justify-self: start;
    background-color: var(--clr-accent-400);
}

.indicators__time-remaining span[data-time-remaining] {
    visibility: hidden;
    display: inline-block;
    min-width: 3ch;
    text-align: center;
}

.indicators__score {
    grid-area: score;
    justify-self: end;
    color: var(--clr-neutral-900);
    background-color: var(--clr-secondary-400);
}

.indicators__score span[data-score] {
    visibility: hidden;
    display: inline-block;
    min-width: 3ch;
    text-align: center;
}

.indicators__answer-correctness {
    grid-area: answer-correctness;
    justify-self: center;
    display: grid;
}

.indicators__answer-correctness > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.indicators__answer-correctness div {
    visibility: hidden;
    color: var(--clr-neutral-900);
    opacity: 0;
    transition: opacity 300ms ease;
}

.indicators__answer-correctness div[data-correct] {
    background-color: var(--clr-primary-400);
}

.indicators__answer-correctness div[data-incorrect] {
    background-color: var(--clr-secondary-400);
}

.indicators__answer-correctness div[data-show] {
    opacity: 1;
}

.quest-container {
    position: relative;
    display: grid;
    place-items: center;
    min-height: var(--size-700);
    background-color: var(--clr-accent-400);
    border-radius: var(--border-radius-medium);
    margin-block: var(--elements-gap);
}

.quest-container > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.quest-container__statement {
    visibility: hidden;
    font-size: var(--fs-statement);
}

.quest-container__message {
    display: grid;
    place-items: center;
    text-align: center;
}

.quest-container__message > * {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.quest-container__message div[data-start-message] {
    font-size: var(--fs-quest-message);
}

.quest-container__message div[data-countdown] {
    visibility: hidden;
    font-size: var(--fs-countdown);
}

.quest-container__message div[data-gameover-message] {
    visibility: hidden;
    text-align: center;
    font-size: var(--fs-quest-message);
}

.quest-container__message span[data-score] {
    color: var(--clr-secondary-400);
}

.interactive {
    display: grid;
    place-items: center;
}

.interactive__answer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: var(--fs-answer-item);
    margin-block: var(--elements-gap);
}

.interactive__answer-item {
    position: relative;
    display: grid;
    place-items: center;
    background-color: var(--clr-secondary-400);
    width: clamp(var(--size-400), 7.15vw, var(--size-600));
    aspect-ratio: 28 / 18;
    border-radius: var(--border-radius-small);
    cursor: pointer;
    user-select: none;
}

.interactive__answer-item:hover, .interactive__answer-item:focus-visible {
    color: var(--clr-secondary-400);
    background-color: var(--clr-primary-400);
}

.interactive__answer-item:active {
    box-shadow: 0px 0px 0px var(--clr-shadow);
    top: -4px;
    left: 4px;
}

.interactive__game-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-block: var(--elements-gap);
}

.interactive__game-options button {
    position: relative;
    background-color: var(--clr-neutral-400);
    padding-block: clamp(var(--size-50), 1vw, var(--size-110));
    padding-inline: clamp(var(--size-110), 1vw, var(--size-150));
    border-radius: var(--border-radius-small);
    cursor: pointer;
    user-select: none;
}

.interactive__game-options button:hover, .interactive__game-options button:focus-visible {
    background-color: var(--clr-neutral-300);
}

.interactive__game-options button:active {
    top: -3px;
    left: 3px;
}

footer {
    padding: clamp(var(--size-50), 0.8vw, var(--size-75));
    font-size: var(--fs-footer);
    display: grid;
    justify-items: center;
    background: var(--clr-neutral-900);
    margin-block-start: auto;
}

footer a {
    color: var(--clr-primary-400);
}

footer a:hover, footer a:focus-visible {
    color: var(--clr-secondary-400);
    outline: 2px solid transparent;
}

.contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: var(--size-100);
}

.contact-info__link {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25em;
}

@media (min-width: 75rem) {
    .main-section {
        --max-width: 60rem;
        --main-gap: var(--size-250);

        --border-radius-large: var(--size-100);
        --border-radius-medium: var(--size-75);
        --border-radius-small: var(--size-50);

        display: grid;
        grid-template-columns: 1.1fr 0.9fr;
        grid-template-areas: 
            'indicators indicators'
            'quest-container interactive-section'
        ;
        gap: var(--main-gap);
        padding: var(--size-250);
    }

    .indicators {
        grid-area: indicators;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 'time-remaining answer-correctness score';
    }

    .quest-container {
        grid-area: quest-container;
    }

    .interactive {
        grid-area: interactive-section;
        padding: var(--size-100) var(--size-350);
    }

    .quest-container {
        min-height: var(--size-800);
        padding: var(--size-250);
    }

    .interactive__answer-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        margin-block: var(--elements-gap);
        gap: var(--size-200) 0;
    }

    .interactive__game-options {
        display: grid;
        justify-content: center;
        gap: var(--size-100);
    }

    .interactive__game-options button {
        padding-block: clamp(var(--size-35), 0.25vw, var(--size-100));
        padding-inline: clamp(var(--size-250), 2.5vw, var(--size-350));
    }
}

@media (min-width: 115rem) {
    .main-section {
        --max-width: 75rem;
    }

    .quest-container {
        min-height: var(--size-900);
    }

    .interactive {
        padding: var(--size-100) var(--size-350);
    }

    .interactive__answer-list {
        row-gap: var(--size-275);
    }
}

/* UTILITY CLASSES */

.container {
    max-width: 120rem;
}

.text-shadowed {
    text-shadow: 2px -2px 2px var(--clr-shadow);
}

.box-shadow-1 {
    box-shadow: 0 0 4px var(--clr-shadow);
}

.box-shadow-3 {
    box-shadow: 3px -3px 3px var(--clr-shadow);
}

.box-shadow-4 {
    box-shadow: 4px -4px 4px var(--clr-shadow);
}